- form_for :comment, url_for(:comments, :create, :post_id => @post), :class => 'remote' do |f|
  .body
    = f.text_area :body
  .author
    = f.text_field_block :author_name
    = f.text_field_block :email
    = f.text_field_block :website
  .submit= f.submit_block "Submit Comment"