%p "Hey! This is the blog!!!!"
%p= my_helper
%p 
  %span options.app_name: 
  = options.app_name
%p 
  %span options.app_file: 
  = options.app_file
%p 
  %span options.public: 
  = options.public
%p 
  %span options.views: 
  = options.views
%p 
  %span options.images_path: 
  = options.images_path
%p 
  %span url_for(:blog, :index): 
  = url_for(:blog, :index)
%p 
  %span url_for(:index): 
  = url_for(:index)
%p 
  %span User.inspect: 
  = User.inspect
%p 
  %span session[:test]: 
  = session[:test]
%p 
  %span flash[:notice]: 
  = flash[:notice]
%p 
  %span image_tag('padrino.png'):
  = image_tag('padrino.png')
%p 
  %span image_tag('blog.png'):
  = image_tag('blog.png')