.post
  .title= link_to post.title, url_for(:posts, :show, :id => post.to_param)
  .date=  relative_time_ago(post.created_at || Time.now) + ' ago'
  .body=  simple_format(post.body)
  .details
    .author Posted by Padrino Team
    .comments= link_to "#{pluralize(post.comments.size, "comment")} posted", url_for(:posts, :show, :id => post.to_param)