.post
  .title= link_to post.title, url_for(:frontend, :posts, :show, :id => post)
  .date=  time_ago_in_words(post.created_at || Time.now) + ' ago'
  .body=  simple_format(post.body)
  .details
    .author Posted by Padrino Team
    .comments= link_to "#{pluralize(post.comments.size, "comment")} posted", url_for(:frontend, :posts, :show, :id => post)