%p "Hey, This is the website!!!!"
%p 
  %span options.uri_root:
  = options.uri_root
%p
  %span options.app_name:
  = options.app_name
%p
  %span options.app_file:
  = options.app_file
%p
  %span options.public:
  = options.public
%p
  %span options.views:
  = options.views
%p
  %span options.images_path:
  = options.images_path
%p
  %span url_for(:website, :test):
  = url_for(:core, :test)
%p
  %span url_for(:test):
  = url_for(:test)
%p
  %span simple_helper_link
  = simple_helper_link
%p 
  %span image_tag('padrino.png'):
  = image_tag('padrino.png')